<div class="note">
  <h3 *ngIf="!editing">{{note.title}}</h3>
  <input *ngIf="editing" type="text"[(ngModel)]="note.title">

  <p *ngIf="!editing">{{note.body}}</p>
  <textarea class="form-control" *ngIf="editing" rows="3" [(ngModel)]="note.body"></textarea>

  <button
  class="btn btn-danger"
  (click)="removeNote(index)"
  >Remove</button> 

  <button
  class="btn btn-info"
  (click)="editNote()"
  *ngIf="!editing"
  >Edit</button>

  <button
  class="btn btn-seccess"
  (click)="saveNote()"
  *ngIf="editing"
  >Save</button>


</div>